@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Agustina-Signature";
  src: url("/fonts/Agustina-Signature.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.container {
  @apply mx-auto max-w-full md:max-w-[95%] lg:max-w-[90%] xl:max-w-[70%] px-4;
}

.std-backdrop-blur {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.box-shadow-header {
  box-shadow: 0 12px 32px #05051e66, 0 -8px 32px #e2e8ff1f inset;
}

.linear-gradient-header {
  background-image: linear-gradient(
    96.34deg,
    color(display-p3 0.5725490196 0.4156862745 1/1) 0%,
    color(display-p3 1 0.4666666667 0.6901960784/1) 50%,
    color(display-p3 1 0.7019607843 0.4039215686/1) 100%
  );
}
.linear-gradient-header-1 {
  background-image: linear-gradient(340deg, #ff6995 8.06%, #73cdff 83.97%);
}

.bg-custom-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(24, 204, 252, 0) 0%,
    #18ccfc 20%,
    #6344f5 32.5%,
    rgba(174, 72, 255, 0) 100%
  );
}

.border-gradient {
  border-image-source: linear-gradient(
    180deg,
    rgba(24, 204, 252, 0) 0%,
    #18ccfc 20%,
    #6344f5 32.5%,
    rgba(174, 72, 255, 0) 100%
  );
}

.text-gradient {
  background: linear-gradient(
    180deg,
    rgba(24, 204, 252, 0) 0%,
    #18ccfc 20%,
    #6344f5 32.5%,
    rgba(174, 72, 255, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Blog Card */
.blog-card {
  max-width: 600px;
  margin: 0 auto;
}

/* Hover Effects */
.blog-card:hover {
  background: linear-gradient(180deg, #1e293b, #0f172a);
  /* transform: translateY(-5px); */
  transition: all 0.5s ease-in-out;
}

.padding-top-64 {
  padding-top: clamp(40px, 2.5vw, 64px);
}

/* =============== PADDING BOTTOM ============= */
.padding-bottom-148 {
  padding-bottom: clamp(80px, 5vw + 1rem, 148px);
}

.text-80 {
  font-size: clamp(32px, 2.35vw + 1rem, 80px);
  line-height: 1em;
}

/* ============================ MODAL ANIMATION ============================ */

.modal-animate {
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
